@charset "UTF-8";
body,h1,h2,h3,p,form,ul,li,dl,dt,dd{
    margin: 0;
    padding: 0;
}
body{
    background: #ffffff;
}
#top{
    background: url("../images/admin_top_bg.gif");
    overflow-y: hidden;
}
#top h1{
    width: 150px;
    height: 80px;
    text-indent: -999px;
    float: left;
    background: url("../images/logosmall.png")no-repeat;
}
#top ul{
    float: left;
    padding: 47px 0 0 10px;
}
#top ul li{
    float: left;
    padding: 0 0 0 5px;
    list-style-type: none;
}
#top ul li a{
    width: 58px;
    height: 33px;
    text-decoration: none;
    display: block;
    background: url("../images/li_bg.png")no-repeat left bottom;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    line-height: 33px;
    color: #ffffff;
}
#top ul li a.selected{
    background-position: right bottom;
    color: #3b6ea5;
}
#sidebar{
    background: #f7fbfc url("../images/sidebar_right.png")repeat-y right;
}
#sidebar dl{
    padding: 20px;
    text-indent: 2px;
}
#sidebar dl dt{
    font-size: 14px;
    font-weight: bold;
    color: #3b6ea5;
    line-height: 23px;
    border-bottom: 1px solid #cccccc;
}
#sidebar dl dd{
    padding: 3px 0 0 0;
    font-size: 13px;
    line-height: 23px;
}
#sidebar dl dd a{
    text-decoration: none;
    color: #333;
}
#sidebar dl dd a:hover{
    text-decoration: underline;
}
#main #map{
    font-size: 12px;
    padding: 13px;
}
#main div.map{
    font-size: 12px;
    padding: 13px;
}
#main div.map strong{
    color: green;
}
#main table{
    width: 95%;
    margin: 0 auto;
    text-align: center;
}
#main table tr{
    background: #ffffff;
}
#main table tr:hover{
    background: #ffffcc;
}
#main table th,#main table td{
    height: 30px;
    line-height: 30px;
    color: #333;
}
#main table tr td a{
    text-decoration: none;
}
#main table th{
    background: #eef3f7;
    border-bottom: 1px solid #d5dfe8;
    font-weight: normal;
}
#main p{
    margin: 20px auto;
    text-align: center;
}
#main p a{
    text-decoration: none;
    font-size: 14px;
    color: #333;
}
#main p a:hover{
    text-decoration: underline;
}
#main table.left{
    text-align: left;
}
#main form input.text{
    width: 220px;
    height: 19px;
    background: #ffffff;
    border: 1px solid #cccccc;
}
#main form input.send{
    margin: 0 0 0 47px;
    cursor: pointer;
}
#main form a{
    font-size: 12px;
    text-decoration: none;
    color: #333;
}
#main form a:hover{
    text-decoration: underline;
}
#sidebarn{
    background: #f7fbfc url("../images/sidebar_right.png")repeat-y right;
}
#sidebarn dl{
    padding: 20px;
    text-indent: 2px;
}
#sidebarn dl dt{
    font-size: 14px;
    font-weight: bold;
    color: #3b6ea5;
    line-height: 23px;
    border-bottom: 1px solid #cccccc;
}
#sidebarn dl dd{
    padding: 3px 0 0 0;
    font-size: 13px;
    line-height: 23px;
}
#sidebarn dl dd a{
    text-decoration: none;
    color: #333;
}
#sidebarn dl dd a:hover{
    text-decoration: underline;
}